<div class="player-detail">
  <h2>{{ player.name }}</h2>
  <table class="detail-table">
    <tr>
      <th>Player Number</th>
      <td>#{{ player.player_number }}</td>
    </tr>
    {% with cr=player.current_rating %}
    {% if cr %}
    <tr>
      <th>Rating</th>
      <td>{{ cr.rating }}</td>
    </tr>
    <tr>
      <th>Deviation</th>
      <td>{{ cr.deviation|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>Career Games</th>
      <td>{{ cr.career_games }}</td>
    </tr>
    <tr>
      <th>Last Played</th>
      <td>{{ cr.last_played }}</td>
    </tr>
    {% else %}
    <tr>
      <th>Rating</th>
      <td>No rating yet</td>
    </tr>
    {% endif %}
    {% endwith %}
  </table>
</div>
